@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css");

*, *::after, *::before {
    box-sizing: border-box;
    font-family: Arial;
    touch-action: manipulation;

  }

  html {
    height:100%;
  }
  
  body {
    background-color: hsl(240, 3%, 7%);
    display: flex;
    flex-direction: column;
    height: 100%;
    margin: 0;
    padding-bottom: 1em;
    font-size: clamp(.5rem, 2.5vmin, 1.5rem);
    align-content: center;
  }


  #help {
    z-index: 100;
    display: flex;
    position: absolute;
    flex-direction: column;
    margin: 0;
    background-color: hsla(0, 0%, 0%, 0.411);
    width: 100%;
    height: 100%;
    color: white;
    font-size: 1em;
    align-items: center;
    justify-content: center;
  }

  #help-box {
    display: flex;
    flex-direction: column;
    width: 80%;
    height: 80%;
    background-color: hsl(240, 3%, 7%);
    border: 2px solid white;
    /* border-color: white; */
    align-items: center;
    justify-content: flex-start;
    position: relative;
    overflow-y: scroll;
    text-align: center;
    padding: 0.25em;

  }

  #exit-help {
    position: absolute;
    font-size: 3em;
    right: 10px;
    top: 5px;
  }

  #examples {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 0.25em;
  }


  #message {
    font-size: 2em; 
    color: white;
    width: 100%;
    text-align: center;
  }

    

  #target-word {
    color: white;
    font-size: 1.2em;
    font-weight: bold;
    margin-bottom: 0em;
  }

  #opponent-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  #opponent-word {
    color: white;
    font-size: 1.2em;
    font-weight: bold;
    margin-bottom: 0em;
    margin-top: 2px;
  }

  #opponent-tag {
    color: rgb(255, 63, 63);
    font-size: 0.8em;
    font-weight: bold;
    margin-bottom: 0em;
  }

  #game-over-container {
    position: absolute;
    width: 100%;
    height: 100%;
    display: none;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    gap: 2em;
    z-index:999;

  }

  .game-over-button {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 2em;
    height: 2em;
    color: white;
    background-color: hsl(234, 70%, 44%); 
    text-transform: uppercase;
    font-weight: bold;
    border: hsl(234, 70%, 44%) solid 1em;
    user-select: none;
  }

  #game-over-info {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 2em;
    color: white;
    background-color: hsl(240, 3%, 7%);
    padding: 0.3em;
  }

  #confetti-canvas {
    position: absolute;
    width: 100%;
    height: 100%;
    display:block;
    z-index:999999;
    pointer-events:none;
  }

  #game {
    /* background-color: hsl(240, 3%, 7%); */
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
    padding-bottom: 1em;
    font-size: clamp(.5rem, 2.5vmin, 1.5rem);
    align-content: center;
    justify-content: space-between;
  }

  #menu {
    display:flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height:100%;
    gap: 8%;
  }

  #title {
    display: inline-flex;
    align-content: center;
    justify-content: center;
    color: white;
    font-size: 3em;
    flex-direction: column;
  }

  #title-top {

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    font-size: 0.5em;
    gap: 0.2em;

  }

  #title-bottom {
    font-size: 0.8em;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end
  }

  #menu-buttons {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    gap: 1em;
    
  }

  .menu-button {
    font-size: 2em;
    padding: 0.5em;
    color: white;
    border: .05em solid hsl(240, 2%, 23%);
    background-color: hsl(115, 29%, 43%);
    font-weight: bold;
    width: 100%;

  } 
  .menu-button:hover {
    filter: brightness(80%);
  }

  .menu-button:active {
    filter: brightness(140%);
  }

  .home-button {
    position: absolute;
    left: 15px;
    top: 10px;
    color: white;
    font-size: 2.5em;
  }

  .info-button {
    position: absolute;
    left: 15px;
    top: 10px;
    color: white;
    font-size: 2.5em;
  }

  .help-button {
    position: absolute;
    right: 15px;
    top: 10px;
    color: white;
    font-size: 2.5em;
  }

  .help-button:hover {
    filter: brightness(80%);
  }

  .home-button:hover {
    filter: brightness(80%);
  }

  #join {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    gap: 1em;
    color: white;
    font-size: 1em;
    height: 100%;
    padding-bottom: 1em;
  }

  #join-box {
    display: flex;
    flex-direction: row;
    gap: 0.25em;
    padding-top: 1em;
  }

  #lobby {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height:100%;
    color: white;
    font-size: 1em;
    gap: 0.25em;
  }

  #loading {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height:100%;
  }

  #game-link {
    font-size: 1em;
    color: white;
    border-width: 0px;
    padding: 0.5em;
    background-color: hsl(234, 70%, 44%);
    font-weight: bold;
    margin-left: 20px;
    margin-right: 20px;
  }

  #game-code {
    font-size: 1.5em;
    background-color: rgb(61, 61, 61);
    padding: 0.3em;

  }

  #game-link:hover {
    filter: brightness(80%);
  }

  #guess-grid {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    align-items: center;
    overflow-y: scroll;
    height: 80%;
    width: fit-content;
    margin-top: 1em;
    margin-bottom: 1em;
    padding-right: 1px;
    align-self: center;
    gap: .25em;
  }

  #grid-container {
    display: flex;
    flex-direction: row;
    align-content: center;
    justify-content: left;
    gap: .75em;
    margin-bottom: 1em;
    margin-left: 2em;
    margin-right: 2em;
    padding-left: 0.2em;
    padding-right: 0.2em;
    overflow-x: scroll;
  }

  /* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: none; 
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: #888; 
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555; 
}


  .row {
    display: inline-flex;
    gap: .25em;
    animation-name: slide;
    animation-duration: 0.2s;
    animation-fill-mode: forwards;
    animation-timing-function: linear;
    border: #555;
  }

  @keyframes slide {
    from {
      transform: scale(1, 0);
    }
    to {
      height: scale(1, 1);
    }
  }


  .tile {
    font-size: 1.5em;
    color: white;
    border: .05em solid hsl(240, 2%, 23%);

    width: 1.75em;
    height: 1.75em;

    flex-shrink: 1;

    text-transform: uppercase;
    font-weight: bold;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    user-select: none;
    transition: transform 250ms linear;

    pointer-events: none;

  }

  .tile.entered {
    background-color: rgb(1, 10, 131);
    color: rgb(255, 255, 255);
    border: none;
  }
  
  .tile[data-state="active"] {
    border-color: hsl(200, 1%, 34%);
  }
  
  .tile[data-state="wrong"] {
    border: none;
    background-color: hsl(240, 2%, 23%);
  }
  
  .tile[data-state="wrong-location"] {
    border: none;
    background-color: hsl(49, 51%, 47%);
  }
  
  .tile[data-state="correct"] {
    border: none;
    background-color: hsl(115, 29%, 43%);
  }

  .tile.opponent {
    /* border-top: solid 0.1em red; */
    border-bottom: solid 0.15em red;
  }
  
  .tile.shake {
    animation: shake 250ms ease-in-out;
  }
  
  .tile.dance {
    animation: dance 500ms ease-in-out;
  }
  
  .tile.flip {
    transform: rotateX(90deg);
  }
  
  @keyframes shake {
    10% {
      transform: translateX(-5%);
    }
  
    30% {
      transform: translateX(5%);
    }
  
    50% {
      transform: translateX(-7.5%);
    }
  
    70% {
      transform: translateX(7.5%);
    }
  
    90% {
      transform: translateX(-5%);
    }
  
    100% {
      transform: translateX(0);
    }
  }
  
  @keyframes dance {
    20% {
      transform: translateY(-50%);
    }  
  
    40% {
      transform: translateY(5%);
    }  
  
    60% {
      transform: translateY(-25%);
    }  
  
    80% {
      transform: translateY(2.5%);
    }  
  
    90% {
      transform: translateY(-5%);
    }  
  
    100% {
      transform: translateY(0);
    }
  }
  
  #alert-container {
    position: fixed;
    top: 10vh;
    left: 50vw;
    transform: translateX(-50%);
    z-index: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .alert {
    pointer-events: none;
    background-color: hsl(204, 7%, 85%);
    padding: .75em;
    border-radius: .25em;
    opacity: 1;
    transition: opacity 500ms ease-in-out;
    margin-bottom: .5em;
  }
  
  .alert:last-child {
    margin-bottom: 0;
  }
  
  .alert.hide {
    opacity: 0;
  }

@media only screen and (max-width: 800px) {

  #help p {
    font-size: 2em;
  }

  #exit-help {
    font-size: 4em;
    right: 0px;
    top: 0px;
  }

  .top-button {
    font-size: 3em;
  }

  #title {
    font-size: 2em;
  }

  #title-bottom {
    font-size: 1.6em;
  }

  #title-top {
    gap: 0.5em;
  }

  .menu-button {
    font-size: 3em;
  }

  #target-word {
    font-size: 1.5em;
  }

  #opponent-word {
    font-size: 1.5em;
  }

  #opponent-tag {
    font-size: 0.8em;
  }

  .tile {
    font-size: 3em;
  }

  #lobby {
    font-size: 2em;
  }

}

